@inherits LayoutComponentBase

<PageTitle>ArcticIcicleCorporation</PageTitle>






<div class="page">
    <div class="">
       
    </div>

    <main>
        <div class="top-row IcySegoeWhite">
                <a class="navbar-brand"href="">ArcticIcicleCorporation</a>
       
              <NavMenu />
         
             
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

      <div class="bottom-row nav-item px-3 IcySegoeRedBlack">
            <NavLink class="nav-link" href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

