.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #9999FF 70%);
}

main {
    flex: 1;
}


.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #9999FF;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #9999FF 70%);
}
.bottom-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #9999FF;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #9999FF 70%);
}
